.custom-select {
    position: relative;
    width: 200px;
    cursor: pointer;
  }
  /* .selected-option {
    border: 1px solid #ccc;
    padding: 10px;
    display: flex;
    align-items: center;
  } */
  .options {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    border: 1px solid #ccc;
    display: none;
    background: white;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  .custom-select:hover .options {
    display: block;
  }
  .options li {
    padding: 10px;
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  .options li:hover {
    background: #f0f0f0;
  }